<%= simple_form_for @invoice, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date %>
  <%= f.input :company %>
  <%= f.input :tax %>
  <%= f.input :salesperson %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoices_path, :class => 'btn' %>
  </div>
<% end %>
